<p class="button"><%= link_to "YES", question_path(@question, :answer => true), :method => :put %></p>
<p class="button"><%= link_to "NO", question_path(@question, :answer => false), :method => :put %></p>
